
.CardsQuestion {
    width: 15vw;
    height: 40vh;
    border-radius: 10%;
    border:1px solid gray;
}

.CardsGrade {
    width: 15vw;
    height: 40vh;

}

.Content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    width: 80vw;
    height: 70vh;
}
.cardPack{
    border-radius: 10%;
    background-color: #e3e2e1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height: 100%;
}
.controlButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonNext button{
    outline: none;
    border-radius: 100%;
    margin-top: 100px;
    height: 100px;
    width:100px;
}
.starsGo{
}
