.MainContainer{
    margin-top: 5vh;
    display: flex;
}
.Photo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    border:1px solid red;
    width: 55vh;
    height: 55vh;
    margin:5vh;
}
.Photo img{
    width: 55vh;
    height: 55vh;
}
.ProfileInfo{
    width: 70vh;
    height: 60vh;
    margin:5vh;
}
.InfoItem{
    text-align: center;
    height: 5vh;
}