.Table {
    margin-top: 1%;
    width: 90vw;
    height: fit-content;
}

.HeaderTable {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 90vw;
    height: 5vh;
    border-bottom: none;
    background-color: lavender;
    font-size: 16px;
    font-weight: 600;
}

.ContentTable {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90vw;
    height: fit-content;
}

.Content {
    display: flex;
    flex-direction: row;
}

.rowContent {
    background-color: white;

}

.button {
    margin: 5px;
    width: 20px;
    height: 20px
}
.SearchPanel{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider{
    color :black  !important;
    width: 200px;
}
