
.Main{
    display: flex;
    flex-direction: column;
}
.Pagination{
    margin-top: 10px;
    align-self: center;
    height: 20px;
    width: 300px;
}
.Pagination button{
    font-family: 'Sansita Swashed', cursive;
    background-color: #5C5EDC;
    color: white;
    height: 30px;
    width: 40px;
}
.startButton{
    border-bottom-left-radius:30%;
    border-top-left-radius: 30%;
}
.endButton{
    border-bottom-right-radius:30%;
    border-top-right-radius: 30%;
}